@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 85px;
  height: 25px;
  --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-position: left,center,right;
  background-repeat: no-repeat;
  animation: l8 1s infinite;
}
@keyframes l8 {
  0%   {background-size:25px 100%,25px 100%,25px 100%}
  20%  {background-size:25px 50% ,25px 100%,25px 100%}
  40%  {background-size:25px 50% ,25px 50% ,25px 100%}
  60%  {background-size:25px 100%,25px 50% ,25px 50% }
  80%  {background-size:25px 100%,25px 100%,25px 50% }
  100% {background-size:25px 100%,25px 100%,25px 100%}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
